/content/app/central/projects/waveshare-stm32407/MDK-ARM/waveshare-stm32407
/content/app/dc-moto/projects/STM32405+CubeMX/MDK-ARM/dc-moto.rev3.2
/content/reference
/content/app/demo/obj
/content/app/dc-moto/projects/STM32405+CubeMX-2/MDK-ARM/dc-moto.rev3.2
